.bigButton {
    background-color: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    padding: $l-size 0;
    margin-bottom: $m-size;
    color: $off-white;
}

.bigButton:disabled {
    opacity: .3;
}

.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: $white;
    font-weight: 500;
    padding: $s-size;
}

.button-link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

@media (min-width: $desktop-breakpoint) {
    .bigButton {
        margin-bottom: $xl-size;
    }
}